body{
    height:100vh;
    width:100vw;
}
.header{
    width: 100%;
    height: 10%;
    background-color: rgb(80, 139, 190); /* Blue color */
    border: 2px solid #09070700;
    margin: 20px 20px 0px 20px;
}

.body{
    display:grid;
    grid-template-columns:20% 10% 20% 20% 10% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 20px;
    height: 90%;
    width:100%;
    background-color:coral
}
#space{
  background: repeating-linear-gradient(
  45deg,
  #ef7a06,
  #07070700 10px,
  #ef7a06 10px,
  #07070700 20px
);
  width:100%;
  height:100%;
  grid-column:3/5;
  grid-row:1/5;
}
#path1
{
  width:100%;
  height:100%;
  grid-column:2/3;
  grid-row:1/5;
  background-color:brown;
  border: 2px solid #09070700;
  
}

#path2{
  width:100%;
  height:100%;
  grid-column-start:5;
  grid-row:1/5;
  background-color:brown;
  border: 2px solid #09070700;
  

}
.slot{
  display:flex;
  width:100%;
  height:100%;
  align-content: center; 
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  
  
  

}


.parkingspace{
  width:80%;
  height:60%;
  border-left:0px;
  border-top: 20px;
  border-right:20px;
  border-bottom:20px;
  border-style:solid;
  border-color: hsl(55, 78%, 50%);
  margin:0px;
  padding:0px;
  background-color: #FFFF;

}
.svg{
  width:100%;
  height:100%;
}
